.associates-grid {
  display: flex;
  justify-content: space-evenly;
}

.link-bio {
  color: var(--teamupGrey);
  font-size: 15px;

  &:hover {
    color: var(--teamupOrange);
    text-decoration: none;
  }
}

// #about-founders {
//   display: flex;
//   justify-content: flex-end;
// }

// #about-consultancies-img {
//   display: flex;
//   justify-content: space-evenly;
//   margin: 22px;
// }

// .about-founders-img {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }

// -----------------------------------------------------------------------------
#about-quote {
  h2 {
    font-size: 27px;
  }
}

// -----------------------------------------------------------------------------
#time-line-container-one {
  height: 346px;
}

#time-line-container-two {
  height: 370px;
}

#time-line-container-three {
  height: 297px;
}

#time-line-container-four {
  height: 233px;
}

// ---------------------------------------
#time-line-middle {
  display: flex;
  justify-content: center;
}

.time-line-separation {
  margin-top: 10px;
  background-color: var(--teamupYellow);
  height: 4px;
  width: 100%;
  border-radius: 3px;
}

.time-line-vertical {
  background-color: var(--teamupYellow);
  height: 100%;
  width: 4px;
  border-radius: 3px;
}

// ---------------------------------------
#time-line-container-mobile-one {
  height: 437px;
}

#time-line-container-mobile-two {
  height: 485px;
}

#time-line-container-mobile-three {
  height: 399px;
}

#time-line-container-mobile-four {
  height: 228px;
}
