// HOME - INTRO
.home-text-right { // GENERAL
  text-align: right;
  padding-top: 101px;
}

#home-intro-pic {
  height: 473px;
}

// -----------------------------------------------------------------------------
// HOME - QUOTE
#quote {
  font-weight: bold;
  font-size: 25px;
  color: var(--teamupPink);
}

#quote-author {
  font-size: 20px;
  color: var(--teamupGrey)
}

// -----------------------------------------------------------------------------
// HOME - HOW IT WORKS
#home-how {
  text-align: justify;
}

#home-how-img {
  background-color: rgb(255, 254, 255); // To match the background of the video
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 450px;
}

#home-how-color {
  background-image: linear-gradient(rgb(252, 252, 252), rgb(255, 255, 255)); // temporary solution to the color
}

// -----------------------------------------------------------------------------
// HOME - SOLUTIONS
#home-solutions-gray {
  background-color: rgb(242, 242, 242);
  height: 2158px;
  width: 100%;
}

#home-solutions-content {
  position: relative; // the child elements also need to be relative to be 'on top'
  z-index: 1;
}

#home-solutions-title {
  text-align: center;
  padding-top: 82px;
}

// left solutions
.home-sol-img-right {
  display: flex;
  justify-content: flex-end; // or center depending on taste + make it disappear in smaller screen
}

// right solution
// #home-sol-img-left {
//   display: flex;
//   justify-content: flex-start; // or center depending on taste + make it disappear in smaller screen
//   margin-top: 59px;
// }

// text
.justify-text { // GENERAL
  text-align: justify;
}

// separation in between solutions
#solution-separation-container {
  display: flex;
  justify-content: center;
}

.solutions-separation {
  margin-top: 50px;
  background-color: rgb(181, 181, 181);
  height: 4px;
  width: 100%;
  border-radius: 3px;
}

// ----------------------------
// solutions workshop
#home-workshop {
  height: 530px;
  position: relative; // parent needs to be relative

  // pseudo-element
  &::before {
    content: ''; // so the img shows up
    background-image: url(connect_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: absolute; // make it the same size as the parent
    top: 0px; // these 4 properties make it so the img doesn't colapse
    right: 0px;
    left: 0px;
    bottom: 0px;
  }
}

#home-workshop-content {
  position: relative;
  padding-top: 65px;
}
