#privacy-policy-content {
  text-align: justify;
  margin-bottom: 50px;

  h3 {
    font-size: 23px;
    padding: 10px 0px 10px 0px;
  }
}

#privacy-policy-intro {
  &::before {
    content: ''; // so the img shows up
    background-image: url(https://res.cloudinary.com/teamupinc/image/upload/v1607518216/teamup/connect_background_vq5nox.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    position: absolute; // make it the same size as the parent
    top: 0px; // these 4 properties make it so the img doesn't colapse
    right: 0px;
    left: 0px;
    bottom: 0px;
    min-width: 100%;
    z-index: -1;
  }
}
