<footer>
  <div class="container" id="footer-padding">
    <div class="row">
      <div class="col">
        <p class="text-middle"><strong>teamup.inc</strong> | <%= link_to "Home", root_path, class: "footer-home"%> | <%= link_to "About", about_path, class: "footer-about"%> <%#= link_to "Privacy Policy", privacy_policy_path, class: "footer-priv-policy"%></p>
      </div>
    </div>
  </div>
  <div class="container" id="footer-designer">
    <div class="row">
      <p>Designed by: Beatriz S.C. Longley</p>
    </div>
  </div>
</footer>
