<nav class="navbar navbar-expand-sm fixed-top navbar-light hidden">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', id: "navbar-logo")%>
    <% end %>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div id="nav-icons-position">
    <%= link_to "about", about_path, id: "btn-navbar-about" %>
    <%= link_to "contact us", contact_path, id: "btn-navbar-contact" %>
  </div>
</nav>
