<div id="about-time-line">
  <div class="container margin-top-100">
    <div class="row">
      <div class="col margin-bottom-50">
        <!-- <p class="subtitles-grey"><strong>The origin</strong></p> -->
        <h2 class="title-orange text-middle">The story of teamup∞</h2>
      </div>
    </div>
    <div class="row" id="time-line-container-one">
      <div class="col-md-5 col-lg-5 col-xl-5">
        <p class="justify-text">Andy and Ali met while studying applied neuroscience. Over many heated discussions, they formed a view that the prevailing popular models for team leadership were fundamentally flawed. The existing team models were based on outmoded MBA thinking and far away from what the neuroscience was teaching them about what really drives high performance.</p>
        <p class="justify-text">This was so frustrating to us. <strong>We both felt passionately that better teams lead to better times and a better world.</strong> Great outcomes happen in eco systems and teams, not through individuals.  All of the solutions to the big and small, to the fun, to the sports, to the commercial – depend ultimately on high performing teams.</p>
        <div class="time-line-separation"></div>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2" id="time-line-middle">
        <div class="time-line-vertical"></div>
      </div>
      <div class="col-md-5 col-lg-5 col-xl-5"></div>
    </div>

    <div class="row" id="time-line-container-two">
      <div class="col-md-5 col-lg-5 col-xl-5"></div>
      <div class="col-md-2 col-lg-2 col-xl-2" id="time-line-middle">
        <div class="time-line-vertical"></div>
      </div>
      <div class="col-md-5 col-lg-5 col-xl-5">
        <p class="justify-text">The epiphany for the teamup∞ model came when attending a leadership conference in New York. The room was jammed. Standing room only with every seat taken, every wall leant against. The demand from business to understand the psychology of high performance in teams was palpable.</p>
        <p class="justify-text"><strong>The idea sparked while listening to a panel of Neuroscientists discussing optimal differentiation in chickens</strong>, and how the coups with a higher proportion of Alpha males produced less eggs.  In other words, beware of ‘All-Star’ teams – that is not the route to high performance. Ali & Andy looked around room of 100+ senior business leaders and knew that there was a deep well of more profound insights they could organize from the neuroscience which leaders could apply for teaming.</p>
        <div class="time-line-separation"></div>
      </div>
    </div>

    <div class="row" id="time-line-container-three">
      <div class="col-md-5 col-lg-5 col-xl-5">
        <p class="justify-text"><strong>So, Andy and Ali went about codifying the behavioural science research into a model for high performing teams.</strong> It took three years. Meanwhile both ran leadership at major companies, increasingly convinced of the need for a teaming model that would really work.</p>
        <p class="justify-text">Once the teamup∞ model was codified, they took it to academia to validate. Ali was studying neuroscience at HarvardX at the time and being mentored by a Professor at Oxford University. This thumbs up from academia, gave Andy and Ali full confidence to launch teamup∞, assured of the rigour of the underlying science.</p>
        <div class="time-line-separation"></div>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2" id="time-line-middle">
        <div class="time-line-vertical"></div>
      </div>
      <div class="col-md-5 col-lg-5 col-xl-5"></div>
    </div>

    <div class="row" id="time-line-container-four">
      <div class="col-md-5 col-lg-5 col-xl-5"></div>
      <div class="col-md-2 col-lg-2 col-xl-2" id="time-line-middle">
        <div class="time-line-vertical"></div>
      </div>
      <div class="col-md-5 col-lg-5 col-xl-5">
        <p class="justify-text">The momentum then kicked in. Ali & Andy were working with leading leadership faculty from all the world’s leading business schools and consultancies during this time, many of whom loved the teamup∞ model so much they signed up to be the Home Team of our Associate faculty.</p>
        <p class="justify-text"><strong>And we’ve never looked back.  We’ve taken the teamup∞ model out to the world of sport and business and seen a dramatic difference.</strong></p>
        <div class="time-line-separation"></div>
      </div>
    </div>

    <div class="row margin-top-50">
      <div class="col">
        <!-- <div class="text-middle margin-bottom-50">
          <p id="quote-orange"><em>“Now I’ve worked with a high performing team, I’ll never accept average again”</em></p>
          <p id="quote-author">(Managing Director of the Americas for a global retail brand)</p>
        </div> -->
        <p class="justify-text">So now our aspiration is to build a better world through better teams. We are bringing the world of work in sync with the true drivers of human behavior and the possibilities are endless. We can’t wait to share more and unlock the potential of your team.</p>
      </div>
    </div>
  </div>
</div>
