<div class="motion-banner">
  <%= video_tag "background-white.mp4", :type => "video/mp4", autoplay: :autoplay, preload: 'auto', muted: :muted, loop: :loop,:height => '100%', :width => "100%", :id => "banner-show-video", :style => "object-fit: cover"%>
</div>

<div class="container margin-top-100">
  <div class="row">
    <div class="col-12 col-xl-8">
      <p class="subtitles-grey"><strong>The team behind teamup∞™</strong></p>
      <h2 class="title-purple">Who we are</h2>
      <p class="justify-text">teamup∞™ are a boutique leadership and team development consultancy who believe to our core that by focusing on enhancing the team environment, organizations have the ability to dramatically impact performance, belonging, well-being and fun. <strong>Better Teams. Better Times.</strong></p>

      <p class="justify-text">We are headquartered in London & Berlin, but with an eco-system of global associates to be able to draw from truly diverse skillsets and profiles to best meet an organization's needs.</p>

      <p class="justify-text">Our sibling consultancies are www.mind-3.com and www.psych-io.com</p>
      <!-- Add logo images with link to webpages -->

      <p class="justify-text">Our network have delivered coaching and development programs in over <strong>60 countries</strong> across <strong>6 continents</strong>.</p>
      <!-- map to come here & add 'illustrated by the map below.' to the p -->

      <p class="justify-text">Within our affiliate network we have faculty on the ground (or virtually) in all continents, supported by world-class project management who make working with us as effortless as it should be. We strive to bring the personalization of a leadership and team development boutique, while understanding the importance and requirements of international scale.</p>
    </div>
  </div>
</div>

<div class="container margin-top-100">
  <div class="row" id="about-founders">
    <div class="col-12 col-xl-8 text-right">
      <p class="subtitles-grey"><strong>The people behind teamup∞™</strong></p>
      <h2 class="title-pink">Meet our founders</h2>
      <p>Andrew Longley is a business leader and organizational psychologist</p>
      <p>Ali is a leadership & strategy specialist</p>
      <p>Click on each of the pictures bellow to learn more about our founders.</p>
      <!-- Images to go here with modal -->
    </div>
  </div>
</div>

<%= render 'pages/about_time_line' %>
