<div class="container margin-top-150" id="privacy-policy-content">
  <div id="privacy-policy-intro">
    <h2 class="title-orange">Privacy Policy for teamup.Inc and Mind<sup>3</sup> Ltd</h2>

    <p>At teamup.Inc and Mind<sup>3</sup> Limited, accessible from https://www.teamup.inc/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by www.teamup.inc and how we use it.</p>

    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

    <h3 class="subtitles-grey">Introduction</h3>

    <p>The European Union’s (EU) General Data Protection Regulation (“GDPR” or the “Regulation”) went into effect on May 25, 2018. It was a significant change for global data privacy law and introduced complex rules for organizations involved in the collection and processing of personal data of individuals located in the EU. The Regulation:</p>

    <ul>
      <li>Updated the previous EU privacy framework to create a common set of data privacy and security rules across the EU.</li>
      <li>Reinforces principles of transparency and openness with individuals as to what data companies hold about them and how it is used.</li>
      <li>Provides individuals in the EU more consistent rights to access and control their personal data.</li>
      <li>Establishes a general accountability requirement, requiring companies to be able to demonstrate the ways in which they comply with data protection principles.</li>
    </ul>
  </div>

  <h3 class="subtitles-grey">Our Commitment</h3>

  <p>As a business with global reach, teamup.Inc and Mind<sup>3</sup> Limited take its responsibility to protect personal data very seriously. Trust is the cornerstone of our relationships and we are committed to the security and protection of personal data, working to provide a compliant and consistent approach to data protection.</p>

  <p>teamup.Inc and Mind<sup>3</sup> Limited’s security and privacy policies are continuously evolving, demonstrating an understanding of and an appreciation for applicable laws, including in anticipation of new and future regulations.</p>

  <p>GDPR compliance required teamup.Inc and Mind<sup>3</sup> Limited to look at updates to data collection, use, transfer, disclosure, and disposal policies and procedures. Our preparation included:</p>

  <h3 class="subtitles-grey">Cookies and Web Beacons</h3>

  <p>Like any other website, www.teamup.inc uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

  <p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/" class="link-color-orange" target="_blank">"What Are Cookies" from Cookie Consent</a>.</p>

  <h3 class="subtitles-grey">Privacy Policy</h3>

  <p>Our Privacy Policy has been updated for the GDPR so that individuals whose personal data we process are informed of what data we collect, why the data is required, how it is used, what their rights are, to whom the information is disclosed, and what safeguards are in place to protect their information.</p>

  <p>Mind<sup>3</sup> Limited has ensured employees and current and new third-party service providers are aware of our ‘storage limitation’ principles, which govern how personal data is stored, archived, and destroyed.</p>

  <p>Data Breaches: our data breach response procedures were updated to help us discover, contain, and remediate data privacy and security incidents. This included the required notice provision to individuals and relevant supervisory authorities.</p>

  <h3 class="subtitles-grey">International Data Transfers & Third-Party Disclosures</h3>

  <p>We enhanced our procedures and safeguarding measures to secure, encrypt, and maintain data integrity during the transfer and/or storage of personal data outside the EU. On a corporate level, Mind3 ensures that, where appropriate, they look into Inter-affiliate Data Processing and Transfer Agreements with clients, specific to each program. When engaging sub processors, including hosting providers, teamup.Inc and Mind<sup>3</sup> Limited carry out due diligence and vetting processes to ensure that appropriate protections are in place.</p>

  <h3 class="subtitles-grey">Legal Basis for Processing</h3>

  <p>We review all processing activities to identify the relevant legal basis. Where applicable, we maintain records of our processing activities, in order to meet our obligations under Article 30 of the GDPR. In part, we are identifying and assessing what personal data we hold, where it comes from, how and why it is processed, and if and to whom it is disclosed.</p>

  <h3 class="subtitles-grey">Obtaining Consent and Providing Notice</h3>

  <p>We have revised our consent and notice process to help individuals easily understand what personal information is being collected, how it will be used and for what purpose. We articulate the individual’s rights to access and control their personal data. This is included in our Privacy Policy on our website.</p>

  <h3 class="subtitles-grey">Children's Information</h3>

  <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

  <p>www.teamup.inc does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>

  <h3 class="subtitles-grey">Information Security & Technical and Organizational Measures</h3>

  <p>teamup.Inc and Mind<sup>3</sup> Limited recognise that personal data is only as secure as the tools and technologies that manage it. We take appropriate technical and organizational measures and precautions to protect and secure personal data that we process.</p>

  <p>We have information security policies and procedures in place to protect personal information from unauthorized access, alteration, disclosure, or destruction. Where appropriate we employ layers of security measures, including, for example developing applications with the latest secure coding techniques to protect against malicious exploits such as SQL injection and cross-site scripting. Vulnerability, penetration and security scanning is done when required using an outside service as a proactive measure.</p>

  <h3 class="subtitles-grey">User Training, IT Security Policy</h3>

  <p>teamup.Inc and Mind<sup>3</sup> Limited employees participate in regular compliance training. All teamup.Inc and Mind<sup>3</sup> Limited employees are required to agree to protect confidential information and sign up to the Information Security Policy as a condition of employment and as appropriate thereafter. teamup.Inc and Mind<sup>3</sup> Limited requires new employees to pass a background check at the time of hire, as permitted by applicable law. This background check may include a check of criminal history, employment history, sanctions check and education verification.</p>

  <p>Encryption in Transit – teamup.Inc and Mind<sup>3</sup> Limited encrypts email data in transit using the cram_md5 protocol when communicating with a server that accepts encrypted connections. Enhanced encryption techniques have been deployed to easily encrypt assessments and email files. Data and information protection is further enforced by our Data Loss Prevention solution.</p>

  <h3 class="subtitles-grey">GDPR Roles and Employees</h3>

  <p>teamup.Inc and Mind<sup>3</sup> Limited has appointed an Information Security Officer (“ISO”) to develop and implement a roadmap for complying with the GDPR and other data privacy laws. The ISO is responsible for promoting awareness of privacy across the organisation, assessing our GDPR readiness, identifying and addressing any gap areas, and implementing the new policies, procedures and measures discussed here.</p>

  <p>Although privacy and confidentiality are embedded in our global standards, methodologies, training and practice, we understand that the requirements of the GPDR are complex. We recognize that employee and third party provider awareness and understanding is vital to continued compliance. We are continually updating and monitoring our privacy training programs to ensure we are educating our employees on how to handle personal data under the GDPR and other privacy laws.</p>

  <p>If you have any questions about Mind3 Limited’s privacy program, please contact us at emma.ferrier@mind-3.com or, if by postal mail, at Mind3 Ltd., 85 Great Portland Street, Marylebone, London, W1W 7LT.</p>

  <h3 class="subtitles-grey">Consent</h3>

  <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
</div>
