<style>
  p {
    font-family: sans-serif;
  }
</style>

<p>Dear <%= @contact.name %>,</p>

<p>Thanks for your interest in the <%= @contact.topic %> solutions.</p>

<p>One of our teamup∞ tribe will contact you shortly. If you have any questions in the meantime, please do not hesitate to contact us using this email address.</p>

<p>Talk soon,</p>

<p>teamup∞</p>
