<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="font-family: Avenir Next">Dear <%= @contact.name %>,</p>

    <p style="font-family: Avenir Next">Thanks for your interest in the <%= @contact.solution.name %> solutions.</p>

    <p style="font-family: Avenir Next">One of our teamup∞™ tribe will contact you shortly. If you have any questions in the meantime, please do not hesitate to contact us using this email address.</p>

    <p style="font-family: Avenir Next">Talk soon,</p>

    <p style="font-family: Avenir Next"><strong>teamup∞™</strong> - Better Teams, Betters Times</p>

    <p style="font-family: Avenir Next">www.teamup.inc</p>
  </body>
</html>
