<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="font-family: 'Avenir Next', 'Nunito', sans-serif;">Dear <%= @contact.name %>,</p>

    <p style="font-family: 'Avenir Next', 'Nunito', sans-serif;">thanks for your interest in the <%= @contact.solution.name %> solutions.</p>

    <p style="font-family: 'Avenir Next', 'Nunito', sans-serif;">One of our teamup∞ tribe will contact you shortly. If you have any questions in the meantime, please do not hesitate to contact us using this email address.</p>

    <p style="font-family: 'Avenir Next', 'Nunito', sans-serif;">Talk soon,</p>

    <p style="font-family: 'Avenir Next', 'Nunito', sans-serif;"><strong>teamup∞™</strong></p>

    <a style="font-family: 'Avenir Next', 'Nunito', sans-serif;">www.teamup.inc</a>

    <p style="font-family: 'Avenir Next', 'Nunito', sans-serif; text-align: center; color: grey; font-size: 10px">Important: The content of this email and any other attachments are confidential. They are intendend for the named recipient(s) only. If you have received this email by mistake, please notify the sender immediately and do not disclose the contents to anyone or make copies thereof.</p>
  </body>
</html>
