<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="font-family: sans-serif">Dear <%= @contact.name %>,</p>

    <p style="font-family: sans-serif">Thanks for your interest in the <%= @contact.solution.name %> solutions.</p>

    <p style="font-family: sans-serif">One of our teamup∞™ tribe will contact you shortly. If you have any questions in the meantime, please do not hesitate to contact us using this email address.</p>

    <p style="font-family: sans-serif">Talk soon,</p>

    <p style="font-family: sans-serif"><strong>teamup∞™</strong> - Creating high performing teams</p>

    <p style="font-family: sans-serif">www.teamup.inc</p>
  </body>
</html>
