<style>
  p {
    font-family: sans-serif;
  }
</style>

<p>Dear <%= @contact.name %>,</p>

<p>Thank you for your contact and interesse in finding out more about our teamup solutions.</p>

<p>We will soon send a follow up email to potentialy schehule a call in case you have any further questions.</p>

<p>Best,</p>

<p>teamup signature</p>
