// btn design
.btn-blue {
  color: var(--teamupBlue);
  background-color: rgba(252, 252, 252, 0.2); // Transparent background
  font-weight: bold;
  padding: 10px 46px;
  border: 4px solid var(--teamupBlue);
  border-radius: 34px;

  &:hover {
    color: white;
    background-color: var(--teamupBlue);
    text-decoration: none;
  }
}

.btn-pink {
  color: var(--teamupPink);
  background-color: transparent;
  font-weight: bold;
  padding: 10px 96px;
  border: 4px solid var(--teamupPink);
  border-radius: 34px;

  &:hover {
    color: white;
    background-color: var(--teamupPink);
    text-decoration: none;
  }
}

.btn-green {
  color: var(--teamupGreen);
  background-color: transparent;
  font-weight: bold;
  padding: 10px 40px;
  border: 4px solid var(--teamupGreen);
  border-radius: 34px;

  &:hover {
    color: white;
    background-color: var(--teamupGreen);
    text-decoration: none;
  }
}

.btn-orange {
  color: var(--teamupOrange);
  font-weight: bold;
  padding: 10px 96px;
  border: 4px solid var(--teamupOrange);
  background-color: rgba(252, 252, 252, 0.2); // Transparent background
  border-radius: 34px;

  &:hover {
    color: white;
    background-color: var(--teamupOrange);
    text-decoration: none;
  }
}

// -----------------------------------------------------------------------------
// HOME
// banner
#home-banner-btn {
  margin: 15px;
  color: var(--teamupBlue);
  background-color: rgba(252, 252, 252, 0.2); // Transparent background
  font-weight: bold;
  padding: 10px 46px;
  border: 4px solid var(--teamupBlue);
  border-radius: 34px;

  &:hover {
    color: white;
    background-color: var(--teamupBlue);
    text-decoration: none;
  }
}

// banner - mobile
#home-banner-btn-mobile {
  margin: 15px;
  color: var(--teamupBlue);
  background-color: rgba(252, 252, 252, 0.2); // Transparent background
  font-weight: bold;
  padding: 10px 46px;
  border: 4px solid var(--teamupBlue);
  border-radius: 34px;
  display: flex; // display in the middle
  justify-content: center;

  &:hover {
    color: white;
    background-color: var(--teamupBlue);
    text-decoration: none;
  }
}

// ---------------------------------------
.home-btn-middle {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

// btn on grey area
#btn-teams {
  color: var(--teamupGreen);
  font-weight: bold;
  padding: 10px 40px;
  border: 4px solid var(--teamupGreen);
  border-radius: 34px;

  &:hover {
    color: white;
    background-color: var(--teamupGreen);
    text-decoration: none;
  }
}

// -----------------------------------------
// HOME - Form
// #btn-blue-form {
//   color: white;
//   background-color: var(--teamupBlue);
//   font-weight: bold;
//   padding: 4px 46px;
//   border: 4px solid var(--teamupBlue);
//   border-radius: 34px;

//   &:hover {
//     color: var(--teamupBlue);;
//     background-color: rgba(252, 252, 252, 0.2); // Transparent background
//     text-decoration: none;
//   }
// }

.btn-blue-form {
  color: var(--teamupBlue);
  background-color: rgba(252, 252, 252, 0.2); // Transparent background
  font-weight: bold;
  padding: 10px 96px;
  border: 4px solid var(--teamupBlue);
  border-radius: 34px;

  &:hover {
    color: white;
    background-color: var(--teamupBlue);
    text-decoration: none;
  }
}

.btn-green-form {
  color: var(--teamupGreen);
  background-color: transparent;
  font-weight: bold;
  padding: 10px 96px;
  border: 4px solid var(--teamupGreen);
  border-radius: 34px;

  &:hover {
    color: white;
    background-color: var(--teamupGreen);
    text-decoration: none;
  }
}

// -----------------------------------------------------------------------------
// SHOW
.btn-blue-show {
  color: white;
  background-color: var(--teamupBlue);
  font-weight: bold;
  padding: 10px 40px;
  border: 4px solid var(--teamupBlue);
  border-radius: 34px;

  &:hover {
    color: var(--teamupBlue);
    background-color: white;
    text-decoration: none;
  }
}

.btn-green-show {
  color: white;
  background-color: var(--teamupGreen);
  font-weight: bold;
  padding: 10px 40px;
  border: 4px solid var(--teamupGreen);
  border-radius: 34px;

  &:hover {
    color: var(--teamupGreen);
    background-color: white;
    text-decoration: none;
  }
}

// -----------------------------------------------------------------------------
// ABOUT
