footer {
  position: relative;
  height: 120px;
  width: 100%;
  background-color: white;
  color: var(--teamupGrey);
  // box-shadow: 0 4px 14px 0 rgba(0,0,0,0.2);

  a {
    text-decoration: none;
    color: var(--teamupGrey);

    &:hover {
      text-decoration: none;
       color: var(--teamupBlue);
    }
  }
}

#footer-padding {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

// -----------------------------------------
#footer-designer {
  font-size: 10px;
  color: var(--teamupGrey);
  display: flex;
  justify-content: center;
}
