// Home
// banner
#img-banner-logo {
  height: 63px;
  width: 238px;
  margin-left: 14px;
  margin-bottom: 10px;
}

// banner - mobile
#img-banner-logo-mobile {
  height: 41px;
  width: 138px;
  margin-left: 7px;
  margin-bottom: 16px;
}

// ---------------------------------------
#img-reports {
  height: 100%;
  width: 100%;
}

#img-divider {
  width: 100%;
  height: 300px;
}

// #img-infinity-loop {
//   width: 530px;
//   height: 380px;
// }

#img-report-ns {
  height: 369px;
  width: 263px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);
}

#img-report-ns:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-report {
  height: 369px;
  width: 263px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

// -----------------------------------------------------------------------------
// ABOUT
.associates-img {
  margin: 10px;
  border-radius: 2px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

// #img-consultancies-mind {
//   width: 109px;
//   height: 67px;
// }

// #img-consultancies-psychio {
//   width: 85px;
//   height: 68px;
// }

// #img-founders-andy {
//   width: 236px;
//   height: 277px;
//   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);

//   &:hover {
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//   }
// }

// #img-founders-ali {
//   width: 236px;
//   height: 277px;
//   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);

//   &:hover {
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//   }
// }
