.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  font-family: 'Avenir Next', 'Nunito', sans-serif;
  text-align: center;
  background: rgba(255, 255, 255, 0.3) !important;
}

.mapboxgl-popup-tip {
  border-top-color:: rgba(255, 255, 255, 0.3) !important;
  border-bottom-color: rgba(255, 255, 255, 0.3) !important;
}

.link-bio {
  color: var(--teamupOrange);
  font-size: 15px;

  &:hover {
    color: var(--teamupYellow);
    text-decoration: none;
  }
}

.map-card-info {
  line-height: 1.6;

  p {
    color: var(--teamupGrey);
    font-family: 'Avenir Next', 'Nunito', sans-serif;
    margin-bottom: 0 !important;
  }
}
