// Extra-Small - iPhone5
@media only screen and (min-width: 320px) and (max-width: 375px) {
  // Navbar
  .navbar {
    height: 56px;
  }

  #nav-icons-position {
    right: 10px;
    top: 16px;
  }

  #navbar-logo {
    margin-left: 0px;
    height: 20px;
    width: 62px;
  }

  .btn-navbar-about {
    padding: 1px 5px;
    font-size: 12px;
    margin-right: 7px;
    border: 3px solid var(--teamupPink);
  }

  #btn-navbar-contact {
    padding: 1px 5px;
    font-size: 12px;
    border: 3px solid var(--teamupPurple);
  }

  // HOME - banner
  #home-banner-mobile {
    height: 759px;
  }

  #home-banner-text-mobile {
    margin-bottom: 27px;
  }

  // HOME - Solutions
  #home-solutions-gray {
    height: 2498px;
  }

  .solutions-separation {
    width: 295px;
  }

  #btn-blue-solution {
    padding: 10px 25px;
  }

  .btn-green {
    padding: 10px 16px;
  }

  // HOME - Workshop
  #home-workshop {
    height: 640px;
  }

  .btn-orange {
    padding: 10px 85px;
  }

  // ABOUT
  .associates-img {
    height: 171px;
    width: 126px;
  }

  // ABOUT - timeline
  #time-line-container-mobile-one {
    height: 506px;
  }

  #time-line-container-mobile-two {
    height: 568px;
  }

  #time-line-container-mobile-three {
    height: 466px;
  }

  #time-line-container-mobile-four {
    height: 257px;
  }
}

// Small - iPhone 6/7/8
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .navbar {
    height: 60px;
  }

  #nav-icons-position {
    right: 13px;
    top: 20px;
  }

  #navbar-logo {
    margin-left: 0px;
    height: 25px;
    width: 87px;
  }

  .btn-navbar-about {
    padding: 1px 8px;
    font-size: 13px;
    margin-right: 7px;
    border: 3px solid var(--teamupPink);
  }

  #btn-navbar-contact {
    padding: 1px 8px;
    font-size: 13px;
    border: 3px solid var(--teamupPurple);
  }

  // HOME - solutions
  #home-solutions-gray {
    height: 2323px;
  }

  .btn-green {
    padding: 10px 16px;
  }

  // ABOUT - timeline
  #time-line-container-mobile-one {
    height: 447px;
  }

  #time-line-container-mobile-two {
    height: 481px;
  }

  #time-line-container-mobile-three {
    height: 397px;
  }
}

// Medium - iPhone 6/7/8 Plus
@media only screen and (min-width: 414px) and (max-width: 700px) {
  .navbar {
    height: 60px;
  }

  #nav-icons-position {
    right: 13px;
    top: 20px;
  }

  #navbar-logo {
    margin-left: 0px;
    height: 25px;
    width: 87px;
  }

  .btn-navbar-about {
    padding: 1px 8px;
    font-size: 13px;
    margin-right: 7px;
    border: 3px solid var(--teamupPink);
  }

  #btn-navbar-contact {
    padding: 1px 8px;
    font-size: 13px;
    border: 3px solid var(--teamupPurple);
  }

  // HOME - solutions
  #home-solutions-gray {
    height: 2230px;
  }

  .btn-green {
    padding: 10px 16px;
  }

  .solutions-separation {
    width: 369px;
  }

  // ABOUT
  .associates-img {
    height: 218px;
    width: 170px;
  }
}

// -----------------------------------------------------------------------------
// Large
// @media only screen and (min-width: 992px) {
// }

// Extra-Large
// @media only screen and (min-width: 1200px) {
// }
