.title-orange {
  color: var(--teamupOrange);
  margin-bottom: 30px;
}

.title-blue {
  color: var(--teamupBlue);
  margin-bottom: 30px;
}

.title-pink {
  color: var(--teamupPink);
  margin-bottom: 30px;
}

.title-purple {
  color: var(--teamupPurple);
  margin-bottom: 30px;
}

.title-green {
  color: var(--teamupGreen);
  margin-bottom: 30px;
}

// -----------------------------------------------------------------------------
// Subtitles
.subtitles-grey {
  color: var(--teamupGrey);
}
