<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1607522473/teamup/yan_martin_ybhshg.jpg", height: "250px", width: "200px", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".yan-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade yan-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Yan Martin</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p>Yan Martin is a strategic advisor that specializes in the fields of leadership coaching, team building and corporate culture. His years as a senior executive give him a perspective and ability to bridge leadership concepts to the practicality of creating sustainable growth. He believes that leaders that need to be emotionally, mentally and physically fit to become a true competitive advantage for companies.</p>
        <p>Yan’s work is dedicated to helping individuals, teams and organizations fully tap into their purpose and develop the skill sets required to lead with fortitude. Through personal and professional experiences, he developed a deep belief in the importance of a more human leadership approach as the foundation to a flourishing performance culture. His relatable approach aims at developing holistic wellbeing that will help people operate from a place of mindfulness, collaboration, transparency and resilience.</p>
        <p>Over the last 20 years, Yan has held numerous senior executive roles in which he led teams in the fields of strategic planning, brand communications, product management, creative direction and sales. He started his career in Montreal (Canada) at The Hockey Company before moving to Reebok’s world headquarter in Boston (USA) where he served as global head of brand communications. Prior to fully dedicating his time to his current consultation career, he served as a member of adidas’ senior European leadership team in Herzogenaurach (Germany). Over the years, he has been praised for his authentic leadership style defined by a strong strategic vision, collaborative team building philosophy and non-political “getting things done” approach.</p>
        <p>Yan’s passion for healthy living is undeniable and he practices what he preaches. He holds a BBA in Marketing and International commerce from HEC Business school in Montreal. He has attended various executive education programs at Harvard Business School and has participated in Brown University’s mindfulness-based stress reduction program (MBSR). He also has coaching certifications from USA Hockey, Hockey Canada and CrossFit.</p>
        <p>He is married with four children and currently lives in Boston.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
