<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1610527252/teamup/liana_bagworth_bh0die.jpg", height: "250px", width: "200px", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".liana-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade liana-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Liana Bagworth</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p>Liana is founder and CEO at EQals, a unique provider of emotional intelligence informed consulting, assessment, learning and coaching, supporting the growth of leaders, teams and organisations.</p>
        <p>Liana is proud to be the first at two incredibly amazing endeavors – the provider of the world's first government mandated emotional intelligence development for lawyers, in partnership with The Government of Dubai Legal Affairs Department, Continuing Legal Professional Development Programme; and the first UAE based Dare To Lead™ certified Facilitator.</p>
        <p>Her vision is a world of courageous and emotionally intelligent leaders who inspire learning, sharing and growing by the way they show up. Her mission is to help create opportunities for greatness by supporting leaders, teams and organisations in their courageous journey to stand up and stand out.</p>
        <p>Liana combines her passion and experience with the science, tools and behaviors of performance to create practical applications that are uniquely designed for each client’s optimal results.</p>
        <p>Together we are better - collaborative partnerships, leveraging technology and specialised expertise is the way we create greatness. The powerful and measurable engine that really accelerates it all - the strategic use of Emotional Intelligence.</p>
        <p>Liana’s experience includes, but is not limited to:</p>
        <ul>
          <li>Leadership development and coaching, including Dare To Lead™ and uniquely customized interventions (Banking, Entertainment, Pharmaceutical)</li>
          <li>Culture creation and transformation to enable the performance culture necessary for the client’s growth goals (Banking, Entertainment, Manufacturing)</li>
          <li>Supporting individuals and teams to create, action and measure higher performance – using a variety of measurement tools</li>
          <li>Team Effectiveness development and optimization - using a variety of measurement tools and team coaching (Banking, Entertainment, Manufacturing, Government, Pharmaceutical)</li>
        </ul>
        <p>Liana has worked with start-ups, mid and large organisations across many vertical markets in the Middle East, North America and Africa, and was part of a neuroscience research and development organisation in Toronto, Canada.</p>
        <p>She holds designations as a certified Coach (U.S.A) and Leading Change agent (Rotman School of Business, Toronto, Canada); her 16 year Human Resources career was supported by the Certified Human Resources Practitioner status (Rotman School of Business, Toronto, Canada). She is the Former President of the Board of Directors of the International Coach Federation, Toronto Chapter.</p>
        <p>She is an advanced EQ practitioner, certified in a variety of Emotional Intelligence assessment and measurement tools, and is an on-going student of the neuroscience of behavior and performance and its applications. Her latest study is a certified Applied Neuroscience Practitioner, (London, UK) completion August 2020.</p>
        <p>Naturally curious, Liana is a committed life-long student of learning, sharing and growing, globally. She is a sports and travel enthusiast, and combines her passions together with her love of connecting with her clients and partners, and the world, learning about new cultures through their people, celebrations, ceremonies and food.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
