<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1628662065/teamup/alexandra_schneider_prqpad.jpg", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".alexandra-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade alexandra-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Alexandra Schneider</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p class="justify-text">Alexandra Schneider is a graduated psychologist, business (plus) private coach.</p>
        <p class="justify-text">Alexandra has 15 years' experience as a management consultant and leader on a national and European level for business coaching, talent management, management diagnostic and leadership development projects.</p>
        <p class="justify-text">As HR manager executive development of an international logistics company as well as the head of global talent management of a global family owned company in the energy sector, she was responsible to consult strategically and coach their management teams through cultural change processes. For her, working on a global base and foster the intercultural exchange has always strengthened and encouraged her.</p>
        <p class="justify-text">As a management consultant she has consulted and coached clients in the fields of management diagnostics and talent management to design and implement their individual initiatives: from American it-companies, Bavarian insurance companies, German major banks to intersectoral SME's in Germany.</p>
        <p class="justify-text">The diverse ways of looking at their challenges and their different company cultures requires a high adaptable consulting approach.</p>
        <p class="justify-text">Alexandra’s firm conviction is that the value of organizations relies highly on their talents. To identify, to develop and to purposefully and successfully utilize talents, you need to have a thorough understanding of the organization and its strategic approach in order to apply tailor made talent management solutions.</p>
        <p class="justify-text">As a business coach she believes everybody has talents: to identify your strengths, overcome your obstacles and support you on your individual way to your personal goals – that’s value based and effective coaching.</p>
        <p class="justify-text">Alexandra is a runner, handball player, global traveller, theatre & modern art lover, an author, and an actor.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

