<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1610464319/teamup/emma_ferrier_ri3wkt.jpg", height: "250px", width: "200px", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".emma-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade emma-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Emma Ferrier</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p>Emma specializes in projects and operations, bringing clarity and simplicity to complex business processes and client projects.</p>
        <p>A natural at managing global projects and dynamic stakeholder environments, Emma is an agile team player who loves to step up to new challenges.</p>
        <p>Emma epitomizes efficient flexibility - a powerful combination she developed in her early career at McKinsey & Company and Korn/Ferry International. She has worked on a wide variety of initiatives, from the London Olympic bid to the launch of a hat-making company.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
