<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1607522470/teamup/andy_longley_bsrohe.jpg", height: "250px", width: "200px", style: "object-fit: cover", data: { toggle: "modal", target: ".andy-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade andy-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Andy Longley</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p class="justify-text">Andy Longley is co-founder and CEO at teamup.Inc and CEO at Psych-io Ltd.  He is based in Europe and Asia Pacific where he focuses on leadership development and assessment-based coaching.</p>
        <p class="justify-text">Andy designs and runs custom leadership programs with senior executives around the world which provide measurable impact. He focuses on bringing the leadership insights from elite sports to business – a perspective he has built over a career in sports & performance psychology, as well as through his work with the military Special Forces.</p>
        <p class="justify-text">Andy was previously an executive people leader with Zalando, Head of Talent for adidas Commercial and, prior to that, Head of Talent for Emirates airlines. Andy also served as a United Nations unarmed Peacekeeper in the Middle East where he gained first-hand experience of mission critical decision-making and leadership under extreme conditions.</p>
        <p class="justify-text">A Kiwi national, Andy has lived and worked across 45 countries including living in 9 different world cultures. Andy’s early career focused on assessments, psychometrics and profiling for high consequence roles, before progressing into operational leadership positions. He has run programs for some of the world’s leading companies including IBM, adidas, Zalando and Emirates Airline.</p>
        <p class="justify-text">Andy is a sought-after keynote and podcast speaker, bringing a fresh perspective of sports to change business and teams for the better. Andy helps apply these insights into the world of business in a simple and commercial way.</p>
        <p class="justify-text">Andy has an MSC in Applied Psychology, is a registered business psychologist, an accredited coach qualified in a range of psychometric tools including teamup∞™, Hogan, Saville Wave, the Cognitive Process Profile, NEO-PI, EPQ-R, Strengthscope, 16PF, EQI-2, MBTI & Cut-e. Andy had a successful sports career himself and is still a very passionate sportsman and adventurer who loves to bring that energy to others facing leadership challenges.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
