<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1607522468/teamup/ali_tisdall_zrlzul.jpg", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".ali-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade ali-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Ali Tisdall</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p class="justify-text">Ali Tisdall is co-founder at teamup.inc and founder and CEO at Mind<sup>3</sup> Ltd, where she co-creates custom leadership development experiences for senior executive teams. She is a seasoned facilitator at the most senior levels with a deep level of senior operational and commercial experience, is published in applied neuroscience, and shares a passion for diversity & inclusion.</p>
        <p class="justify-text">Ali has led leadership programs in over 60 countries worldwide over her career to date with clients such as adidas, GSK, Ericsson, Johnson Matthey, Lafarge Holcim, Legg Mason, and CMS. She was formerly Head of Client Strategy at Korn/Ferry where she also founded their Diversity & Inclusion approach. She co-founded the European region for Pivot Leadership Consulting, before founding Mind<sup>3</sup>.</p>
        <p class="justify-text">Ali is a published thinker and frequent speaker on applied neuroscience to high performance, collaboration and gender inclusion. She has recently published 'TEAM-UP' model, the applied neuroscience of high performance teams. She holds an MBA and BA, is accredited in psychometric assessments with the British Psychological Society, an Accredited Coach and a Practitioner of Applied Neuroscience. She is continuing her research and study of the field of neuroscience through HarvardX and into applied Aritifical Intelligence at MIT.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
