<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1620549471/teamup/mark_adamoulas_acd40x.jpg", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".mark-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade mark-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Mark Adamoulas</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p>From humble beginnings in Greece, and dreams of playing basketball professionally, Mark developed an interest in psychology, and what makes people tick (off the back of his own sporting shortcomings).</p>
        <p>Having studied Sport Psychology at University, Mark took a lecturing role for three years, but rather swiftly realised he missed the buzz of sport. He went on to significant positions with England Rugby League, Manchester United, and Formula 1, all focused on the psychological development of athletes and staff. He made a move into the corporate world in 2017, working with a Big 3 consultancy and a Big 4 accounting firm on programmes around employee wellbeing.</p>
        <p>Another of Mark’s passions, which marries up his work across sport and corporate, is supporting athletes who are transitioning out of professional sport and into their next career.</p>
        <p>Mark has worked as an executive coach, and delivered a Neuroscience module on an MBA designed specifically for leaders within sporting organisations.</p>
        <p>Outside of work, Mark very much flies the Greek flag with his love of food and coffee, and is at his happiest with his family around him, and his feet in the sand.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

