<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1607522467/teamup/derek__thomson_bkhsss.jpg", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".derek-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade derek-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Derek Thomson</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p>Derek Thomson is a Leadership Consultant and Executive Coach with over 30 years’ experience in leading and developing people, gained across the private, public and voluntary sectors in operational, executive and board level positions.</p>
        <p>Derek’s involvement in designing and delivering leadership development interventions stretches back to the early 1990s and his expertise ranges from leading international corporate change programmes which have touched thousands of employees to coaching and mentoring private individuals, ranging from Board Directors to “high potentials”.</p>
        <p>Derek’s clients over the last decade range from multi-sector global corporations and Government departments to SMEs and private individuals, principally across the UK and Europe but also in the USA and South East Asia. Clients include:</p>
        <p>Barclays, BlackRock, BP, Deutsche Post DHL, Ericsson, GSK, Heineken, Johnson & Johnson, Kraft Foods, Lloyds Banking Group, Marks & Spencer, National Australia Group, Mazda Motors, Thomson Reuters, NatWest Group, Standard Life and Whitbread.</p>
        <p>Sector experience includes Energy, Financial Services, Pharmaceuticals, Logistics, Automobiles, Telecommunications, Retail & Professional Services.</p>
        <p>Prior to becoming an Executive Coach and Leadership Development Consultant, Derek spent over 20 years in a global Corporation, holding senior and executive management positions in a diverse range of areas. Notably, Derek was, for 6 years, a member of the Global Executive Leadership team and led over 500 employees as Operations Director of an award-winning Client Service Business. Derek also served as a Non-Executive Director of a multi-million turnover public sector Charitable Trust for 5 years, including 2 years as Chairman.</p>
        <p>Derek was a Partner with Pivot Leadership between 2013 and 2015, is a Fellow of the Chartered Institute of Personnel and Development, holds a Diploma in Coaching & Mentoring and accreditations and experience in various assessment tools and instruments.</p>
        <p>Derek lives near Edinburgh, Scotland, with his wife and two daughters.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
