<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1610527226/teamup/matt_harrison_vwxfax.jpg", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".matt-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade matt-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Matt Harrison</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p>Matt Harrison has 15 years’ experience as a psychologist, coach, naval officer, and talent, teams, and leadership consultant and currently works across a portfolio of people projects in NZ and overseas.</p>
        <p>Matt spent 12 years in the navy as an occupational psychologist where he worked with people pushing the limits of their own and others performance in uncertain and difficult situations. He was an aircrew specialist; implemented a world-first human factors programme on warships; and worked with leadership teams prior to deployment, the navy’s operational divers, and tri-service special forces and military intelligence. Matt deployed around the world in support of people on operations and also undertook his own mission as armistice observer and operations officer in the demilitarized zone in Korea, dealing with the complex operational and political situation there. Matt held senior roles as head of navy psychology and deputy director of defence psychology for the NZ Defence Force.</p>
        <p>Matt then spent five years consulting in the UK and Europe, working with commercial and people leaders to design and deliver engaging content across a wide variety of people initiatives. He was a team and commercial leader and supervising consultant. Clients have included AstraZeneca, AkzoNobel, EDF Energy, Mazda, Ferrari, HSBC, Nationwide, DLA Piper, Campari, Carl Zeiss, Allianz, John Sisk & Son, and Babcock. He’s lived and worked in NZ, Australia, North America, East Asia, India, Pacific Islands, the Middle East and the UK and Europe.</p>
        <p>Matt has undergraduate degrees in commerce and science, and a masters in human factors and cognitive and work psychology. He is a qualified SCUBA diving instructor, paraglider pilot, climber, and motorcyclist and loves the crossover from these environments with his work – from planning to performance and from stress to accomplishment.  Matt loves working with technical and business experts on novel people problems. He passionately believes in trust and transparency and what many minds can bring to a task.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
