<%= cl_image_tag "https://res.cloudinary.com/teamupinc/image/upload/v1616768590/teamup/camille_garnier_rw2p7r.jpg", style: "object-fit: cover", class: "associates-img", data: { toggle: "modal", target: ".camille-bd-example-modal-lg" } %>

<!-- Modal -->
<div class="modal fade camille-bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title title-pink-v2" id="exampleModalLongTitle">Camille Garnier</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-content">
        <p class="justify-text">Camille specializes in marketing strategies and is the digital and creative lead in the team.  Her creative dynamism is coupled with a positive spirit, she is always ready to take on challenges and commit her energy.</p>
        <p class="justify-text">Based in France, Camille has travelled across multiple countries and worked in the USA to discover different cultures, learn different ways to work and to add life knowledge to her palette.</p>
        <p class="justify-text">Camille is currently finishing her Masters degree in Marketing, Communication and Commercial Strategies in the worldwide wine capital, Bordeaux.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pink" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
